[submodule "core/lib/glfw"]
	path = core/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "core/lib/glm"]
	path = core/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "core/lib/yaml-cpp"]
	path = core/lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp/
[submodule "core/lib/googletest"]
	path = core/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "core/lib/spdlog"]
	path = core/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
