[submodule "core/lib/glfw"]
	path = core/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "core/lib/glm"]
	path = core/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "core/lib/stduuid"]
	path = core/lib/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "core/lib/doctest"]
	path = lib/doctest
	url = https://github.com/doctest/doctest
[submodule "docs/css/m.css"]
	path = docs/css
	url = https://github.com/mosra/m.css
[submodule "engine/lib/imgui"]
	path = engine/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "core/lib/json"]
	path = core/lib/json
	url = https://github.com/nlohmann/json.git
[submodule "engine/lib/implot"]
	path = engine/lib/implot
	url = https://github.com/epezent/implot.git
[submodule "core/lib/cpptrace"]
	path = core/lib/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
[submodule "core/lib/glad"]
	path = core/lib/glad
	url = https://github.com/GameDevTecnico/cubos-glad.git
[submodule "engine/lib/stb_image"]
	path = engine/lib/stb_image
	url = https://github.com/GameDevTecnico/cubos-stb.git
[submodule "core/lib/miniaudio"]
	path = core/lib/miniaudio
	url = https://github.com/mackron/miniaudio
