[submodule "core/lib/glfw"]
	path = core/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "core/lib/glm"]
	path = core/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "core/lib/spdlog"]
	path = core/lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "core/lib/imgui"]
	path = core/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "core/lib/fmt"]
	path = core/lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "core/lib/openal-soft"]
	path = core/lib/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "core/lib/stduuid"]
	path = core/lib/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "core/lib/doctest"]
	path = core/lib/doctest
	url = https://github.com/doctest/doctest
[submodule "docs/css/m.css"]
	path = docs/css
	url = https://github.com/mosra/m.css
